{% extends 'base.html' %}
{% block content %}
<br>
<div class="card4">
    <br>
    <h1>Edit Profile</h1><br>
	<form method="POST">
	{% csrf_token %}
	    Name <input type="text" name="name" value="{{user.person.name}}" ><br><br>
        Email <input type="text" name="email" value="{{user.email}}" disabled><br><br>
        Gender <input type="text" name="gender" value="{{user.person.gender}}"><br><br>
        Address <input type="text" name="address" value="{{user.person.address}}"><br><br>
        City <input type="text" name="city" value="{{user.person.city}}"><br><br>
        Phone <input type="number" name="phone" value="{{user.person.phone}}"><br><br>

        <button type="submit" class="but"><b>Save Changes</b></button><br><br>
	</form>
</div>
{% endblock content %}